# Python
__pycache__/
*.py[cod]
*$py.class

# R
.Rproj.user
.Rhistory
.RData
.Ruserdata

# Virtual environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Streamlit
.streamlit/

# Data files
data/
*.png
